.product {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #bbbbbb;
}

.product a {
    text-decoration: none;
}

.product-content {
    padding: 0 1.5rem;
}

.btn {
    background-color: goldenrod;
    border: 1px solid #bbbbbb;
    width: 150px;
    padding: 0.5rem;
    border-radius: 5px;
    margin: 1rem 0;
    cursor: pointer;
}